$main-color-1: #414141;
$main-color-2: RGB(204, 78, 92);

$pick-color-1: white;

$text-color-main: white;

$tablet: 660px;
$pc: 960px;

$task-color-red: red;
$task-color-orange: orange;
$task-color-yellow: yellow;
$task-color-green: green;
$task-color-yellowgreen: yellowgreen;
