$black: #000000;
$main-nav-color: #283645;
$nav-border-top: #485461;
$white: #ffffff;
$gray: #f2f2f2;
$menu-hover: #d22856;
$menu-active: rgba(210, 40, 86, 0.3);

$tablet: 660px;
$pc: 960px;

$r2-1: 144dpi;
$r2-2: 1.5dppx;
