$main-color-1: #414141;
$main-color-2: RGB(204, 78, 92);
$focus-color: #e49b0f;
$today-color: #5762abd1;
$current-color: gray;
$done-color: gray;

$pick-color-1: white;

$text-color-main: white;

$mark-color: #7caf29;
$date-color: #151313;

$tablet: 660px;
$pc: 960px;
$mobile: 320px;

$task-color-red: red;
$task-color-orange: orange;
$task-color-yellow: yellow;
$task-color-green: green;
$task-color-yellowgreen: yellowgreen;

@mixin cell-actions {
  &:focus {
    box-shadow: inset 0 0 5px 2px $focus-color;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }

  &[data-active='true'] {
    box-shadow: inset 0 0 5px 2px $pick-color-1;
  }

  &[data-active='true']:focus {
    box-shadow: inset 0 0 5px 2px $pick-color-1;
  }
}
