.calendar__table {
  width: 100%;
  border-collapse: collapse;
}

.calendar__header {
  border: 1px solid $main-color-2;
}

.calendar__day {
  box-sizing: border-box;

  position: relative;

  width: 14.2%;
  margin: auto;

  border: 1px solid $main-color-2;

  overflow: hidden;
}

.calendar__day:before {
  content: '';
  padding-top: 100%;
  float: left;
}

.calendar__row .calendar__day:last-child,
.calendar__row .calendar__header:last-child {
  border-right: none;
}

.calendar__cell {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  margin: auto;

  overflow: hidden;
  outline: none;

  @include cell-actions;
}

.calendar__screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
}

.calendar__screen[data-droppable='true'] {
  background-color: $droppable-color;
}

.calendar__day-number {
  box-sizing: border-box;

  display: inline-block;
  width: 100%;
  flex-shrink: 0;

  padding: 2px 5px;

  text-align: right;
}

.calendar__task-wrapper {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;

  width: 100%;

  padding: 0px 3px 3px 3px;
}

.calendar__task {
  box-sizing: border-box;
  flex-shrink: 0;

  width: 14.3%;
  height: auto;

  margin-right: 2px;
  margin-bottom: 3px;

  border-radius: 50%;

  background-color: white;

  overflow: hidden;
}

.calendar__task:before {
  content: '';
  padding-top: 100%;
  float: left;
}

.calendar__task[data-color='red'] {
  background-color: $task-color-red;
}

.calendar__task[data-color='green'] {
  background-color: $task-color-green;
}

.calendar__task[data-color='yellow'] {
  background-color: $task-color-yellow;
}

.calendar__task[data-color='orange'] {
  background-color: $task-color-orange;
}

.calendar__task[data-color='yellowgreen'] {
  background-color: $task-color-yellowgreen;
}

.calendar__task[data-status='done'] {
  background-color: $done-color;
}

.calendar__cell[data-today='true'] {
  background-color: $today-color;
}

.calendar__cell[data-current='false'] {
  color: $current-color;
}

@media (max-width: $pc) {
  .calendar__row .calendar__day:last-child,
  .calendar__row .calendar__header:last-child {
    border-right: 1px solid $main-color-2;
  }
}

@media (max-width: $tablet) {
  .calendar__task-wrapper {
    padding: 0px 2px 2px 2px;
  }

  .calendar__day-number {
    font-size: 15px;
    line-height: 15px;
  }

  .calendar__task {
    width: 12%;
  }
}

@media (max-width: 450px) {
  .calendar__day-number {
    font-size: 12px;
    line-height: 12px;
  }

  .calendar__task {
    width: 13%;
  }
}

@media (max-width: $mobile) {
  .calendar__task-wrapper {
    padding: 0px 1px 1px 1px;
  }
}
