.form {
  min-width: 300px;
  max-width: 400px;

  padding: 10px;
  padding-bottom: 20px;

  background-color: $main-color-1;

  border: 3px solid $main-color-2;

  margin: 0 auto;

  outline: none;
}

.form input,
.form textarea {
  outline: none;
  border-width: 3px;
  border-style: solid;
  border-color: #f7f2f2ab;
  border-image: none;

  background-color: $main-color-1;
  color: $text-color-main;
}

.form__field {
  border: none;
}

.form__title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.form__label-wrapper {
  text-align: center;
}

.form__date {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid $text-color-main;
}

.form__name,
.form__description,
.form__inner--colorPicker {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form__name,
.form__description,
.form__date {
  @include input-actions;
}

.form__legend--colorPicker,
.form__legend--status {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.form__field--information {
  display: flex;
}

.form__inner--colorPicker {
  display: flex;
  justify-content: space-around;
}

.form__label--colorPicker {
  position: relative;

  display: inline-block;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  cursor: pointer;
}

.form__label--colorPicker[for='color-green'] {
  background-color: $task-color-green;
}

.form__label--colorPicker[for='color-red'] {
  background-color: $task-color-red;
}

.form__label--colorPicker[for='color-orange'] {
  background-color: $task-color-orange;
}

.form__label--colorPicker[for='color-yellow'] {
  background-color: $task-color-yellow;
}

.form__label--colorPicker[for='color-yellowgreen'] {
  background-color: $task-color-yellowgreen;
}

.form__radio:checked + .form__label--colorPicker:after {
  content: '';
  display: block;

  position: absolute;
  bottom: -8px;

  width: 100%;
  height: 4px;

  border-radius: 10% 10%;

  background-color: $main-color-2;
}

.form__field--status {
  border-bottom: 1px solid $main-color-2;
}

.form__inner--status {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form__label--active,
.form__label--done {
  display: inline-block;
  cursor: pointer;
}

.form__radio:checked + .form__label--active,
.form__radio:checked + .form__label--done {
  color: $main-color-2;
}

.form__field--action {
  margin-top: 20px;
}

.form__inner--action {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.form__button {
  margin: 0;
  padding: 5px 10px;

  border: 2px solid $main-color-2;
  border-radius: 5px 5px;
  background-color: transparent;

  color: $text-color-main;

  outline: none;
}

.form__button:focus {
  border-color: $focus-color;
}

.form__button:hover {
  border-color: $text-color-main;
}

.form__button:active {
  box-shadow: none;
  opacity: 0.5;
}

.form__label--active:hover,
.form__label--done:hover {
  color: $focus-color;
}

.form__label--colorPicker:hover {
  box-shadow: inset 0 0 3px 1px $main-color-1;
}

@media (max-width: 450px) {
  .form {
    box-sizing: border-box;
    width: 90%;
    min-width: 280px;
  }
}
